<div class="top-nav-bar">
  <div class="row">
    <div class="col-lg-8">
      <div class="top-contact">
        <ul>
          <li>
            <i class="fa fa-phone fa-fw"></i> Call us: <a href="tel:18667856271">1-866-785-6271</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i> Mail us: <a href="mailto:info@sober8jobs.com">info@sober8jobs.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <ul *ngIf="!isAuth">
        <li>
          <a routerLink="auth/login"><i class="fa fa-graduation-cap" aria-hidden="true"></i> I Am Candidate</a>
        </li>
        <li>
          <a (click)="openLogInDialog()"><i class="fa fa-briefcase" aria-hidden="true"></i> I Am Employer</a>
        </li>
      </ul>
      <ul *ngIf="isAuth">
        <li>
          <a (click)="goToProfile()"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li>
          <a (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<mat-toolbar color="primary">
  <div class="col-sm-4">
    <span class="site-title"><i class="fa fa-briefcase" aria-hidden="true"></i> Find Your Jobs</span>
  </div>
  <div class="col-sm-8">
    <ul>
      <li>
        <a mat-button href="">How It Works</a>
      </li>
      <li>
        <a mat-button href="">Treatment Centers</a>
      </li>
      <li>
        <a mat-button href="">Addiction Counselors</a>
      </li>
      <li>
        <a mat-button href="">Job Board</a>
      </li>
      <li>
        <a mat-button href="">Career Advice</a>
      </li>
      <li>
        <a mat-button href="">Blog</a>
      </li>
      <li>
        <a mat-button href="">Contact Us</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
