.admin-body-wrapper{
	min-height: 900px;
	overflow: hidden;
	display: flex;
  	flex-direction: column;
  	flex: 1 1 auto;
}
.main-body-wrapper {
	margin-top: 15px;
}
.main-body-wrapper h2 {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}
.add-new {
	float: right;
	margin: 10px 0 20px 0;
}
.add-new a {
	text-decoration: none;
}
.add-new a i {
	position: relative;
	top: 2px;
	font-size: 15px;
}
mat-card {
	margin-top: 20px;
}
mat-form-field {
	width: 100%;
}