.user-inner-wrapper{
	margin-top: 30px;
	padding: 5px 0 5px 10px;
}

h2{
	text-align: center;
	margin-top: 30px;
	font-family: 'Oswald', sans-serif;
}
.user-inner-wrapper mat-card {
  margin-right: 20px;
  margin-bottom: 20px;
}
mat-form-field {
	width: 100%;
}
.sbmt-btn {
  text-align: center;
}
input[type="file"] {
  visibility: hidden;
}
.img-preview {
  height: 5rem;
  margin: 1rem 0;
}
.img-preview img{
  height: 100%;
}
