<section class="contaniner">
  <h2>My Company</h2>
  <div class="row">
    <div class="col-sm-3">
      <app-employer-sidebar></app-employer-sidebar>
    </div>
    <div class="col-sm-9">
      <div class="user-inner-wrapper">
        <div class="alert alert-success" *ngIf="successMsg">{{ successMsg }}</div>
        <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }}</div>
        <mat-card>
          <form [formGroup]="form" (submit)="onEmployerCompanySave()" enctype="multipart/form-data">
            <div class="row">
              <div class="col-sm-12 text-center">
                <div class="img-preview" *ngIf="imagePreview !== '' && imagePreview || form.get('image').valid">
                <!-- <div class="img-preview" *ngIf="imagePreview !== '' && imagePreview"> -->
                  <img [src]="imagePreview" />
                </div>
                <div>
                  <button type="button" mat-stroked-button (click)="filePicker.click()">Upload Company Logo</button>
                  <input type="file" #filePicker (change)="onImagePicked($event)"/>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <input type="text" formControlName="company_name" name="company_name" matInput placeholder="Company name*">
                  <mat-error *ngIf="form.get('company_name').invalid">Company name is required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <input type="text" formControlName="company_website" name="company_website" matInput placeholder="Website*">
                  <mat-error *ngIf="form.get('company_website').invalid">Website is required.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field>
                  <!-- <input type="email" formControlName="email" name="email" matInput placeholder="Email*" email> -->
                  <textarea name="company_desc" formControlName="company_desc" matInput placeholder="Description"></textarea>
                  <!-- <mat-error *ngIf="form.get('email').invalid">Invalid email.</mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" (click)="addLocation()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>
 Add Address</button>
              </div>
            </div>
            <div class="row" formArrayName="locations" *ngFor="let item of locationsArr; let i = index;">
              <div [formGroupName]="i" class="col-sm-2">
                <!-- <input formControlName="name" placeholder="Item name"> -->
                <mat-form-field>
                  <input type="text" formControlName="country" name="country" matInput placeholder="Country*">
                  <mat-error *ngIf="locationsArr.controls[i].get('country').errors?.required">Country is required.</mat-error>
                </mat-form-field>
              </div>
              <div [formGroupName]="i" class="col-sm-2">
                <mat-form-field>
                  <input type="text" formControlName="state" name="state" matInput placeholder="State*">
                  <mat-error *ngIf="locationsArr.controls[i].get('state').errors?.required">State is required.</mat-error>
                </mat-form-field>
                <!-- <input formControlName="description" placeholder="Item description"> -->
              </div>
              <div [formGroupName]="i" class="col-sm-2">
                <mat-form-field>
                  <input type="text" formControlName="city" name="city" matInput placeholder="City*">
                  <mat-error *ngIf="locationsArr.controls[i].get('city').errors?.required">City is required.</mat-error>
                </mat-form-field>
                <!-- <input formControlName="price" placeholder="Item price"> -->
              </div>
              <div [formGroupName]="i" class="col-sm-3">
                <mat-form-field>
                  <input type="text" formControlName="address" name="address" matInput placeholder="Address*">
                  <mat-error *ngIf="locationsArr.controls[i].get('address').errors?.required">Address is required.</mat-error>
                </mat-form-field>
              </div>
              <div [formGroupName]="i" class="col-sm-2">
                <mat-form-field>
                  <input type="text" formControlName="zipcode" name="zipcode" matInput placeholder="Zipcode*">
                  <mat-error *ngIf="locationsArr.controls[i].get('zipcode').errors?.required">Address is required.</mat-error>
                </mat-form-field>
              </div>
              <div [formGroupName]="i" class="col-sm-1" *ngIf="i > 0">
                <button type="button" mat-raised-button class="btn btn-sm btn-danger" (click)="removeLocation(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
              <!-- Chosen location: {{ form.controls.locations.controls[i].controls.name.value }} -->
            </div>
            <div class="sbmt-btn">
              <button type="submit" mat-raised-button color="primary">Save Company Info</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>
