<div class="admin-sidebar">
	<ul>
		<li>
			<a routerLink="/admin/dashboard"><i class="material-icons">dashboard</i> Dashboard</a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/qualifications"><i class="material-icons">school</i> Qualification <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/users"><i class="material-icons">person</i> Users <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/qualifications"><i class="material-icons">construction</i> Industry <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/employment-types"><i class="material-icons">alarm_on</i> Employment Type <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/qualifications"><i class="material-icons">category</i> Specialization <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/years-of-experience"><i class="material-icons">work</i> Experience <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/skills"><i class="material-icons">engineering</i> Skills <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li>
			<a routerLink="/admin/salary-scales"><i class="material-icons">attach_money</i> Salary</a>
		</li>
		<li class="has-sub-menu">
			<a routerLink="/admin/packages"><i class="material-icons">payment</i> Packages <i class="material-icons">keyboard_arrow_down</i></a>
		</li>
		<li>
			<a routerLink="/admin/qualifications"><i class="material-icons">email</i> Email Template</a>
		</li>
		<li>
			<a routerLink="/admin/general-settings"><i class="material-icons">settings</i> General Settings</a>
		</li>
	</ul>
</div>