<div class="admin-body-wrapper">
  <div class="row">
    <div class="col-sm-2">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-sm-10">
      <div class="main-body-wrapper">
        <div class="container">
          <h2>Add New User</h2>
          <mat-card>
            <mat-card-title>Profile Information</mat-card-title>
            <mat-card-subtitle>Enter details information provided by user</mat-card-subtitle>
            <form [formGroup]="userAddForm" (submit)="onEmployerProfileCreate()" *ngIf="userAddForm">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="first_name" name="first_name" matInput placeholder="First name*">
                    <mat-error *ngIf="userAddForm.get('first_name').errors?.required">First name is required.</mat-error>
                    <mat-error *ngIf="userAddForm.get('first_name').errors?.maxlength">Maximum length is 20.</mat-error>
                    <mat-error *ngIf="userAddForm.get('first_name').errors?.pattern">First name should only contain characters.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="last_name" name="last_name" matInput placeholder="Last name*">
                    <mat-error *ngIf="userAddForm.get('last_name').errors?.required">Last name is required.</mat-error>
                    <mat-error *ngIf="userAddForm.get('last_name').errors?.maxlength">Maximum length is 20.</mat-error>
                    <mat-error *ngIf="userAddForm.get('last_name').errors?.pattern">Last name should only contain characters.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="email" name="email" matInput placeholder="Email*">
                    <mat-error *ngIf="userAddForm.get('email').errors?.required">Email is required.</mat-error>
                    <mat-error *ngIf="userAddForm.get('email').errors?.email">Email is not in proper format.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="phone" name="phone" matInput placeholder="Phone number*">
                    <mat-error *ngIf="userAddForm.get('phone').errors?.required">Phone is required.</mat-error>
                    <mat-error *ngIf="userAddForm.get('phone').errors?.maxlength">Phone should have only 10 digits.</mat-error>
                    <mat-error *ngIf="userAddForm.get('phone').errors?.minlength">Phone should have only 10 digits.</mat-error>
                    <mat-error *ngIf="userAddForm.get('phone').errors?.pattern">Phone should have only numbers.</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="address1" name="address1" matInput placeholder="Address*">
                    <mat-error *ngIf="userAddForm.get('address1').errors?.required">Address is required.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="city" name="city" matInput placeholder="City*">
                    <mat-error *ngIf="userAddForm.get('city').errors?.required">City is required.</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="state" name="state" matInput placeholder="State*">
                    <mat-error *ngIf="userAddForm.get('state').errors?.required">State is required.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="zipcode" name="zipcode" matInput placeholder="Zipcode*">
                    <mat-error *ngIf="userAddForm.get('zipcode').errors?.required">Zipcode is required.</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="country" name="country" matInput placeholder="Country*">
                    <mat-error *ngIf="userAddForm.get('country').errors?.required">Country is required.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <input type="text" formControlName="fax" name="fax" matInput placeholder="FAX">
                    <mat-error *ngIf="userAddForm.get('fax').errors?.pattern">FAX should have only numbers.</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Role*</mat-label>
                    <mat-select formControlName="role">
                      <mat-option *ngFor="let role of userRoles" [value]="role.slug">
                        {{ role.fullname }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userAddForm.get('role').errors?.required">Role is required.</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-sm-6">
            									<mat-form-field>
            										<input type="text" formControlName="fax" name="fax" matInput placeholder="FAX">
            			                  			<mat-error *ngIf="userAddForm.get('fax').errors?.pattern">FAX should have only numbers.</mat-error>
            									</mat-form-field>
            								</div> -->
              </div>
              <div class="">
                <button type="submit" mat-raised-button color="primary">Save</button>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
