.admin-body-wrapper{
	min-height: 900px;
	overflow: hidden;
	display: flex;
  	flex-direction: column;
  	flex: 1 1 auto;
}
.main-body-wrapper {
	margin-top: 15px;
}
.main-body-wrapper h2 {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}
.list-tbl {
	margin-right: 15px;
}
.mat-table {
	width: 100%;
}
.mat-paginator:first-child {
	display: none !important;
}
.mat-form-field {
	width: 25%;
}
table {
	width: 100%;
}
.action-edit {
  background-color: #007bff;
  color: #fff;
  padding: 12px 6px 2px 6px;
  border-radius: 4px;
  margin: 5px;
}
.action-trash {
  background-color: #dd3535;
  color: #fff;
  padding: 12px 6px 2px 6px;
  border-radius: 4px;
  margin: 5px;
}
.action-location {
  background-color: #318e0f;
  color: #fff;
  padding: 12px 6px 2px 6px;
  border-radius: 4px;
  margin: 5px;
}
.action-edit i, .action-trash i, .action-location i {
  font-size: 20px;
}
